<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>NYT</title>
    <style>
      body { background-color: #F2F6D0 }
      #pagestyle {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      h1{
          position: fixed;
          top: 0px;
          left: 0px;
          background-color: azure;
          color: darkcyan;
      }
     </style>
</head>
<body>
    <div id = "pagestyle">
        <h1>New York Times Articles</h1>
        {{{body}}}
    </div>
</body>
</html>